/* nav bar */

.navigation-wrapper { 
    height: 150px;
    background-color: #1e1f26;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.navigation-wrapper > .logo-wrapper > .logo-img img {
    height: 110px;
    width: 260px;
    padding: 0px;
    margin: 7px 20px 15px 10px;
    filter: invert(.865);
}

.navigation-wrapper > .nav-links-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 150px 30px 150px;
    justify-content: center;
}

.navigation-wrapper > .nav-links-wrapper > .center-columns {
    display: flex;
    flex-direction: row;
    margin: -10px 20px;
}

.navigation-wrapper > .nav-links-wrapper > .main-menu-explore {
    color: #ffdd40;
    font-size: .65rem;
    font-family: 'Lato', 'Sans-Serif';
    text-transform: uppercase;
    margin: 0px -20px 0px 40px;
}

.navigation-wrapper > .nav-links-wrapper > .center-columns > .nav-link {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Lato', 'Sans-Serif';
    margin: -20px 20px;
    color: white;
}



.navigation-wrapper > .nav-links-wrapper > .center-columns > .nav-link h2 {
    color: #868ca0;
    font-family: 'Lato', 'Sans-Serif';
    margin: 25px 0px 0px 6px;
    display: flex;
    flex-direction: row;
}
.navigation-wrapper > .nav-links-wrapper > .center-columns > .nav-link i {
    margin: 6px 10px;
}

.navigation-wrapper > .right-buttons-wrapper {
    display: flex;
   justify-content: right;
}

/* Center Page */

.center-landing-page {
    margin: -23px 0px;
    height: 580px;
    background: -webkit-linear-gradient(left, rgba(76,82,92,1) 0%, rgba(66,66,66,1) 42%, rgba(36,36,36,1) 68%, rgba(29,29,29,1) 78%, rgba(20,20,20,1) 92%, rgba(20,20,20,1) 96%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center-landing-page > .left-center-page > .left-content h1 {
    color: #c7c7c7;
    font-size: 2em;
    font-weight: 50;
    font-family: 'Lato', 'Sans-Serif';
    
}
.center-landing-page > .left-center-page > .left-content span {
    color: white;
    font-weight: 300;
    font-family: 'Lato', 'Sans-Serif';
    
}

.center-landing-page > .left-center-page > .left-content i{
    color: #ffdd40;
    margin: 0px 5px;
}

.center-landing-page > .left-center-page > .left-content h2 {
    color: #c7c7c7;
    font-weight: 30;
    font-size: 2em;
    font-family: 'Lato', 'Sans-Serif';
}

.center-landing-page > .right-center-page {
    margin: 0px 30px;
}

.center-landing-page > .right-center-page > .right-content h3 {
    color: white;
    font-family: 'Lato', 'Sans-Serif';
    font-size: 1.10em;
}

.center-landing-page > .right-center-page > .right-content span {
    color: #3bb9f7;
    font-family: 'Lato', 'Sans-Serif';  
    font-size: 1.10em;
}   

.center-landing-page > .right-center-page > .right-img img {
    height: 250px;
    width: 240px;
}

/* bottom page */

.bottom-homepage {
    height: 100px;
    background-color: #2d3035;
    color: white;
    font-family: 'Lato', 'Sans-Serif';  
    display: flex;
    flex-direction: row;

}
.bottom-homepage > .teams {
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: .85em;
    font-weight: 30;
    border: 4px solid #4c525c;
}

.bottom-homepage > .teams h1 {
    font-weight: 30; 
    font-family: 'Lato', 'Sans-Serif';  
    margin: 25px 0px 10px 55px;
}
.bottom-homepage > .teams span {
    font-size: 1.25em;
}

.bottom-homepage > .education {
    justify-content: center;
    align-items: center;
    font-size: .85em;
    width: 25%;
    font-weight: 30;
    border: 4px solid #4c525c;
}

.bottom-homepage > .education h1 {
    font-weight: 30; 
    font-family: 'Lato', 'Sans-Serif';  
    margin: 25px 0px 20px 55px;
}

.bottom-homepage > .education span {
    font-size: 1.25em;
    font-weight: 300;
}


.bottom-homepage > .privacy {
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: .85em;
    font-weight: 30;
    border: 4px solid #4c525c;
}
.bottom-homepage > .privacy h1 {
    font-weight: 30;
    font-family: 'Lato', 'Sans-Serif';  
    margin: 35px 0px 10px 85px;
}

.bottom-homepage > .privacy span {
    font-weight: 300;
}

.bottom-homepage > .writing {
    justify-content: center;
    align-items: center;
    width: 25%;
    font-size: .85em;
    font-weight: 30;
    border: 4px solid #4c525c;
}
.bottom-homepage > .writing h1 {
    font-weight: 30; 
    font-family: 'Lato', 'Sans-Serif';  
    margin: 35px 0px 10px 85px;
}

.bottom-homepage > .writing span {
    font-weight: 300;
}

/* footer */
.footer {
    height: 130px;
    background-color: #1e1f26; 
}
